#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.button-bar Button{
  margin: 0 5px;
}

.delete-button {
  color: #1976d2;
  cursor: pointer;
}

.delete-button:hover {
  text-decoration: underline;
} 

.table-input {
  width: 50px;
}

.newAssetRow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3499f9;
  cursor: pointer;
}

.newAssetRow:hover {
  color: #349af9c9;
}

.newAssetRow svg {
  padding: 0 5px;
  font-size: 1.1rem;
}

.total-field {
  padding: 15px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #353535;
}
